extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/layout.css")
  //- link(rel="stylesheet" href="/stylesheets/stories.css")
  //- link(rel="stylesheet" href="/stylesheets/side-bar.css")
  script(src='/javascripts/category.js')

  //- add page specific js

block content
  div.page-header
    div.page-header-text
      h1.page-header-title Where good ideas find you
      p.page-header-description Read and share new perspectives on just about any topic. Everyone's welcome.
      form(action='/users/signup' method='get')
              button.page-header-button(type='submit') Get Started
    div.page-header-img
      img.page-header-img(src= "https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/11368/cow-cattle-animal-clipart-md.png")
  div.page-container
    div.content
      each story in stories
        div.preview-story
          a(href=`/story/${story.id}`)
            div.story-text
              p.preview-story-author= story.author
              h1.preview-story-title= story.title
              p.preview-story-desc= story.preview
            img.preview-story-img(src= story.imgLink)
  div.side-container
    div.side-bar
      input(type="hidden" value=locals.userId name="userId" id='userId')
      h3.side-bar-title TOPICS TO FOLLOW
      div.side-button-container
        div.side-button-card
          a.side-button-cat(href="/story/categories/1/stories") Entertainment
          button.follow-button(type="button" id=1) Follow
        div.side-button-card
          a.side-button-cat(href="/story/categories/2/stories") Software
          button.follow-button(type="button" id=2) Follow
        div.side-button-card
          a.side-button-cat(href="/story/categories/4/stories") Food and Drink
          button.follow-button(type="button" id=4) Follow
        div.side-button-card
          a.side-button-cat(href="/story/categories/5/stories") Film
          button.follow-button(type="button" id=5) Follow
        div.side-button-card
          a.side-button-cat(href="/story/categories/6/stories") Money
          button.follow-button(type="button" id=6) Follow
      div.footer
        p.footer-text About&nbsp;&nbsp;&nbsp;Help&nbsp;&nbsp;&nbsp;Careers&nbsp;&nbsp;&nbsp;Status
