extends layout
append head
  link(rel='stylesheet' href='/stylesheets/individualStory.css')
  link(rel='stylesheet' href='/stylesheets/layout.css')
  script(src='/javascripts/stories.js')
block content
  .story_page_container
    .title_container
      h1.title= story.title
    .byline
      p.author= story.author
      p.date= story.date
    .picture
      img(src= story.imgLink)
    .story_container
      p.story= story.story
    .likes_and_comments
      .likes_container#likes
        form(action="/" method="PUT")
          button.bacon-button(type=button) <i class="fas fa-bacon"></i>
          span.like_comment_text 1,254,555
      if locals.authenticated
        .comments_container#comments
          <i class="far fa-comments"></i>
            span.like_comment_text Comment
      else
        .comments_container#comments
          a(href="/users/login").like_comment_text
            <i class="fas fa-comment-slash"></i>
              span &nbsp; Please login to comment.
    div.comments-section
      div.comments
      if locals.authenticated
        div.comment-submit-form
          form.form(action=`/story/${story.id}`  method="POST" id="comment-form")
            legend.form-legend Submit a Comment
              div
                input(type="hidden" value= locals.username name="username" id='username')
              div
                textarea(name="comment" id="commentField" rows="10" cols="40")
              button.button(type="button" id="comment-submission") Submit
